---
//Esto se ejecuta en el servidor o en el build time si es una página estática
//y el 
//<script>
//todo lo que va aqui adentro se ejecuta en el cliente
//</script>
import Section from "@/components/Section.astro";
---

<Section title="Projects">
    
</Section>